<div class="card md-4 mb-4">
    <div class="card-body">
         <h4 class="text-center text-info">{{isInEditMode?'Update':'Add Todo'}}</h4>
         <form #todoForm="ngForm" (ngSubmit)="onTodoSubmit()">
            <div class="form-group">
                <label for="todoItem">TodoItem</label>
                <input required ngModel name="todoItem" type="text" class="form-control">
            </div>
            <button type="submit" [disabled]="todoForm.invalid" *ngIf="!isInEditMode" mat-raised-button color="primary" class="w-100">Add Student</button>
            <button (click)="onUpdate()" type="button" *ngIf="isInEditMode" mat-raised-button color="warn" class="w-100">Update</button>
         </form>


        </div>
    </div>