
<mat-card class="mb-3">
    <mat-card-title>
        <div class="form-group" [ngClass]="{
         checkedIn:passObj.checkedIn,
         fullnameControl:!isInEditMode
        }">
            <input #fullname 
            [value]="passObj.fullname"
            [disabled]="!isInEditMode"
            type="text" class="form-control">
        </div>
    </mat-card-title>
    <p>check In Date : {{passObj.checkInDate ? (passObj.checkInDate | date): 'Not Checked In Yet'}}</p>
    <p> Children : {{passObj.children ? passObj.children.length:0}}</p>
    <mat-card-content>

    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
     <button *ngIf="!isInEditMode" (click)="isInEditMode=true" mat-raised-button color="primary">Edit</button>
     <button *ngIf="isInEditMode" (click)="onUpadte()" mat-raised-button color="primary">Done</button>
    <button [disabled]="isInEditMode" (click)="onRemove()" mat-raised-button color="warn">Remove</button>


    </mat-card-actions>
</mat-card>